div.main{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px;
	flex-flow: column;
}
p{
	text-align: center;
}
big{
	font-size: 3em;
	font-family: cursive;
}
small{
	font-size: 0.7em;
}